body{
    font-family: 'Noto Sans KR', sans-serif;
}
section{
    padding: 150px 0;
}
.wrap{
    margin: 0 auto;
    width: 1190px;
    display:flex;
}
.subject{
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    color: #7c7c7c;
}
.subject2{
    font-size: 33px;
    font-weight: 400;
}
h3{
    font-size: 20px;
}
.hgroup{
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.p{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.block{
    display: block;
}
.go{  
    padding: 16px;
    display: block;
    width: 183px;
    transition: all 0.7s;
    height: 20px;
    color: #7590ff;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.go:hover::after{ 
    display: none;
}
.go::after{
    content: "";
    border: 2px solid;
    width: 7px;
    height: 7px;
    display: inline-block;
    border-left: transparent;
    border-bottom: transparent;
    transform: rotate(45deg);
    margin-left: 10px;
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes slide{
    0%{
        
    }
    100%{
        transform: translateX(10px) rotate(45deg);
        opacity: 0;
    }
}