/* 하단 */
footer{
  background-color: #333;
  color: #a0a0a0;
}
footer .wrap{
  padding: 25px 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-between;
}
footer .wrap h1{ 
  margin-top: 0;
}
footer .wrap h1 a{
  font-size: 0;
  background-image: url(../img/f-logo.svg);
  width: 80px;
  height: 80px;
  display: block;
  margin-top: 0;
  background-size: contain;
}
footer .wrap address{
  width: 53%;
  display: flex;
  box-sizing: border-box;
  margin-top: 13px;
}
footer .wrap address span{
  display: none;
}

footer .wrap address strong{
  font-weight: 700;
  margin-right: 5px;
  color: #eee;
}

footer .wrap address strong:nth-child(n+2){
  margin-left: 15px;
}
footer .wrap p.copyright{
  position: absolute;
  left: 131px;
  top: 72px;
}
footer .wrap p.tel{
  margin-right: 70px;
}
footer .wrap p.tel strong{  
  font-size: 40px;
  vertical-align: top;
  line-height: 0.7;
  font-weight: bold;
  margin-left: 5px;
  color: #eee;
}