/* 상단 영역 */
header{
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 0;
    transition: all 0.7s;
}
header .h-nav{
    width: 100%;
    height: 90px;
    box-shadow: 1px 1px 4px #d3d6ea;
    position: fixed;
    transition: all 0.7s;
    box-sizing: border-box;
}
header .h-nav:hover{    
    background-color: #03046b !important;
    width: 100%;
}
header .wrap{
    padding: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

header .wrap h1{
    font-size: 58px;
    color: #fff;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
header .wrap nav{    
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    column-gap: 30px;
}
header .wrap h1 > a{ 
    font-size: 0;
    background-image: url(../img/logo.svg); 
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    display: block;
}
header ul{
    display: flex;
    width: 100%;
}
header ul li{  
}
header ul li a{
    color: #eee;
    line-height: 2;
}
header ul.gnb{    
    width: 80%;
    justify-content: center;
}
header ul.gnb > li{   
    padding: 0px 56px;
}
header ul.gnb > li > a{ 
    font-size: 19px;
    display: block;
    line-height: 3;
    border-bottom: 3px solid transparent;
}
header ul.gnb > li > a:hover{
    color: #fff;
    border-bottom: 3px solid #eee;
    box-sizing: border-box;
}
header ul.gnb > li div.bg{
    
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
}
header ul.gnb > li div.bg div.wrap{
    
}
header ul.gnb > li div.bg div.wrap ul.sub1{
    
}
header ul.gnb li:last-child{
    display: none;
}
header ul.enb{    
    width: 10%;
    align-items: center;
    column-gap: 8px;
}
header ul.enb li a{
    font-size: 0;
    display: block;
    width: 40px;
    height: 38px;
    background-repeat: no-repeat;
    transition: all 0.3s;
}
header ul.enb li:first-child a{  
    background-image: url(../img/search.svg);
    
}
header ul.enb li:last-child a{    
    background-image: url(../img/menu.svg);
}
header ul.enb li a:hover{
    width: 45px;
    height: 45px;
}
