/*순서는 html의 순서대로 작성*/
body{
    margin: 0;
    padding: 0;
    font-weight: 300;
    position: relative;
}

h1,h2,h3,h4,h6,p,a{
    line-height: 1;
    margin: 0;
}
/* 상단 영역 */
header{
    width: 100%;
    position: absolute;
    z-index: 2;
    margin: 0;
    transition: all 0.7s;

}
header .h-nav{
    width: 100%;
    height: 90px;
    box-shadow: 1px 1px 4px #d3d6ea;
    position: fixed;
    transition: all 0.7s;
    box-sizing: border-box;
}
header .h-nav:hover{    
    background-color: #03046b !important;
    width: 100%;
}
header .wrap{
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: calc((100% - 1190px) / 2);
}

header .wrap h1{
    font-size: 58px;
    color: #fff;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
header .wrap nav{    
    display: flex;
    width: 100%;
    cursor: pointer;
    column-gap: 50px;
}
header .wrap h1 > a{ 
    font-size: 0;
    background-image: url(../img/logo.svg); 
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    display: block;
}
header ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: end;
}
header ul li{  
    display: flex;
    text-align: center;
}
header ul li a{
    color: #eee;
    line-height: 2;
}
header ul.gnb{    
    box-sizing: border-box;
    text-align: center;
}
header ul.gnb li{   
    align-items: center;
    padding-left: 100px;
}
header ul.gnb li a{ 
    font-size: 20px;
    font-weight: bold;
    display: block;
    line-height: 2;
    border-bottom: 3px solid transparent;
}
header ul.gnb li a:hover{
    color: #fff;
    border-bottom: 3px solid #eee;
    box-sizing: border-box;
}
header ul.gnb a.ham{
    display: none;
}
header ul.enb{    
    width: 10%;
    align-items: center;
    column-gap: 8px;
}
header ul.enb li a{
    font-size: 0;
    display: block;
    width: 40px;
    height: 38px;
    background-repeat: no-repeat;
    transition: all 0.3s;
}
header ul.enb li:first-child a{  
    background-image: url(../img/search.svg);
    
}
header ul.enb li:last-child a{    
    background-image: url(../img/menu.svg);
}
header ul.enb li a:hover{
    width: 45px;
    height: 45px;
}
