@media screen and (max-width:768px){  /* 장치가 스크린이고 화면너비가 최대768px일때(768px이하) 스타일적용 */
/* common   */
  .wrap{
    width: 80%;
    box-sizing: border-box;
  }
  .subject{
    font-size: 18px;
    width: auto;
  }
  .subject2{
    font-size: 26px;
  }
  h3{
    font-size: 16px;
  }
  .p{
    font-size: 14px;
  }
/*  헤더부분  */
  header .h-nav{
    width: 100%;
    align-items: center;
  }
  header .wrap{   
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 100%;
    margin: 0 10px;
  }
  header .wrap h1 a{
    height: 60px;
    width: 60px   
  }
  header ul li{
    display: none;
  }
  header ul.gnb li:last-of-type{
    display: block;
    background-image: url(../img/menu.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
  }
  header ul.gnb{
    justify-content: right;
    align-items: center;
  }
  header ul.gnb li:last-of-type a{
    font-size: 0;
  }
  header ul.enb{
    display: none;
  }
  div#title{    
    background-size: cover;
    min-height: 30%;
  }
  div#title::before{
    min-height: 100%;
  }
  div#title .wrap{
    width: calc(100% - 20px);
    height: 100%;
    
  }
  div#title .wrap .title_writing{  
    width: 100%;
    /*! justify-content: normal; */
  }
  div#title h2{ 
    font-size: 16px;
    font-weight: 300;
  }
  div#title h2 + p{
  font-size: 30px;
  }
  div#title h2 + p + p{
    font-size: 13px;
    font-weight: 300;
    width: 65%;
  }
  div#title .wrap div{
    display: none;
  }
  div#title .wrap span{    
  bottom: 20px;
  }
/*  about  */
  section#about .company{
    width: 100%
  }
  section#about .subject{
    font-size: 18px;
    width: auto;
  }
  section#about .company div p{ 
    font-size: 17px;
  }
  section#about .company p{
    font-size: 14px;
    width: 73%;
  }
  section#about .company span.block{
    display: none;
  }
/*  서비스  */
  #service .wrap ul{    
    flex-direction: column;
    align-items: center;
  }
  #service .wrap ul li{   
    width: 90%;
    margin-bottom: 50px;
  }
  #service .wrap ul li h3{    
    font-size: 24px;
  }
  #service .wrap ul li p{    
    font-size: 15px;
    padding: 10px;
  }
  #service .wrap ul li a{    
    margin-bottom: 20px;
  }
/*  히스토리  */
  #history .wrap ul.list{    
    width: 106%;
    margin: 0;
    padding-left: 0;
    text-align: center;
  }
  #history .wrap ul.list::before{
    display: none;      
  }
  #history .wrap ul.list::after{
    display: none;
  }
  #history .wrap ul li{
    font-size: 13px;
  }
  #history .wrap ul li:not(:last-of-type)::after{
    content: "";
    border: 1px solid #fff;
    display: block;
    width: 15px;
    height: 15px;
      
    border-left: transparent;
    border-bottom: transparent;
    transform: rotate(135deg);
    margin: 0 auto;
    margin-bottom: 7px;
  }
/* 위치안내 */
  #location .wrap{   
    flex-direction: column-reverse;
    width: 400px;
    align-items: center;
  }
  #location .wrap iframe{
    
  }
  #location .wrap .right{    
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
  }
  #location .wrap .right a{
    margin-top: 20px;
  }
  #location .wrap .right a::before{
    display: none;
  }
  #location .wrap iframe{   
    width: 228px;
    height: 350px;
    display: block;
  }
/* footer 부분   */
  footer .wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .wrap p.copyright{
    position: static;
    margin-bottom: 29px;
    font-size: 13px;
    text-align: center;
  }
  footer .wrap address{
    margin: 0;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 8px;
    flex-direction: column;
  }
  footer .wrap address strong:nth-child(n+2){
    margin: 0;
  }
  footer .wrap p.tel{ 
    margin-bottom: 30px;
    display: flex;
    margin: 0 auto;
  }
  footer .wrap p.tel strong{
    
  }
/*  스크롤  */
  div#title .scroll{   
    left: calc((100% - 41px) / 2);
  }
/* aside   */
  aside{  
    width: 30px;
    height: 30px;
  }
  aside button{   
    font-size: 16px;
  }
}
    
